.idea/
.vscode/

build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
Makefile
*.ninja
*.ninja_deps
*.ninja_log
compile_commands.json

*.exe
*.obj
*.o
*.a
*.so
*.dll
*.lib
*.out
*.log

Testing/

*.swp
*.tmp
*.bak
